---
interface Logo {
  image?: string;
  alt?: string;
}
interface Props {
  note?: string;
  logos?: Logo[];
}

const defaultLogos: Logo[] = [
  { image: "/images/logo/aguirre.png", alt: "Aguirre" },
  { image: "/images/logo/enazul.png", alt: "EnAzul" },
  { image: "/images/logo/alicorp.png", alt: "Alicorp" },
  { image: "/images/logo/arxatec.png", alt: "Arxatec" },
];

const {
  note = "Trabajamos y apoyamos a estas marcas.",
  logos = defaultLogos,
} = Astro.props;
const items = logos && logos.length > 0 ? logos : defaultLogos;
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto mb-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:gap-x-10 lg:mx-0 lg:max-w-none"
    >
      {
        items.map((logo) => (
          <img
            width="158"
            height="48"
            src={logo.image}
            alt={logo.alt}
            class="col-span-2 max-h-10 w-full object-contain lg:col-span-1"
          />
        ))
      }
    </div>
    {
      note && (
        <h2 class="text-center text-lg/8 font-semibold text-gray-900">{note}</h2>
      )
    }
  </div>
</div>
